
<link rel="stylesheet" href="https://codemirror.net/lib/codemirror.css">
<script src="https://codemirror.net/lib/codemirror.js"></script>
<script src="https://codemirror.net/mode/css/css.js"></script>


<div class="col s12">
	<div class="col s12">
		<h5 class="xl-font upcase indigo-text text-accent-1 thin">Custom Style Sheet</h5>
	</div>
</div>

<%= form_tag atlys_custom_styles.save_custom_style_path, method: :post, class: "col s10 offset-s1" do %>

<textarea id="cssstyle" class="col s10 offset-s1 white prettyprint" name="style">
<% if @textarea.empty? %>
.exampleclass {
  background-color: red;
  font-weight: bold;
  margin: 10px;
  width: 90%;
  height: 50%;
}
<% else %>
<%= @textarea %>
<% end %>
</textarea>

    <%= submit_tag "Save", class: "btn col s2 offset-s5" %>

<% end %>

<script>
$(document).on("ready", function() {

    if(typeof CodeMirror == "undefined") {
        $.getScript('https://codemirror.net/lib/codemirror.js', function() {
            initCodeMirror();
        });
    } else {
        initCodeMirror();
    }

});


function initCodeMirror() {
    var editor = CodeMirror.fromTextArea(document.getElementById("cssstyle"), {
        lineNumbers: true,
        viewportMargin: Infinity
    });
}
</script>
