
<link rel="stylesheet" href="https://codemirror.net/lib/codemirror.css">
<script src="https://codemirror.net/lib/codemirror.js"></script>

<script src="https://codemirror.net/mode/css/css.js"></script>


<div class="col s12">
	<div class="col s12">
		<h5 class="xl-font upcase indigo-text text-accent-1 thin">Custom Style Sheet</h5>
	</div>
</div>

<%= form_tag atlys_custom_styles.save_custom_style_path, method: :post, class: "col s10 offset-s1" do %>

    <div id="customstyleform"></div>

	<%= submit_tag "Save", class: "btn col s2 offset-s5" %>

<% end %>

</div>


<script>
$(document).on("ready page:change page:update page:load", function() {
    if(typeof CodeMirror == "undefined") {
        $.getScript('https://codemirror.net/lib/codemirror.js', function() {
            initCodeMirror();
        });
    } else {
        initCodeMirror();
    }
});
function initCodeMirror() {
    var textbox = "<textarea id=\"cssstyle\" class=\"col s10 offset-s1 white prettyprint\" name=\"style\"></textarea>";
    $("#customstyleform").html(textbox);
    var editor = CodeMirror.fromTextArea(document.getElementById("cssstyle"), {
        lineNumbers: true,
        viewportMargin: Infinity
    }).setValue(decodeURI("<%= URI.encode(@textarea) %>"));
}
</script>
