<!DOCTYPE html>
<html>
<head>
  <title>Atlys custom styles</title>
  <%= stylesheet_link_tag    "atlys_custom_styles/application", media: "all" %>
  <%= javascript_include_tag "atlys_custom_styles/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
